
/******************* GENERAL STYLES *******************/

* {
  color: white;
}

body {
  background: radial-gradient(ellipse at center, rgba(54,54,54,1) 0%,rgba(6,6,6,1) 100%);
  margin: 0px;
  padding: 0px;
}

main {
  margin: 0% 5%;
}

article p {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  border: 0;
  padding: 0;
}

/******************* HEADER *******************/

#title {
  background-image: url('../img/vegas-sign.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 200px;
  height: 200px;
  margin-bottom: 25px;
}

h1 {
  padding-top: 50px;
  color: blue;
  text-align: center;
  font-family: 'Slackey', cursive;
  font-size: 38px;
}
/******************* NAVIGATION *******************/

nav {
  text-align: center;
  list-style: none;
  background: radial-gradient(ellipse at center, rgba(216,40,0,1) 0%,rgba(161,16,3,1) 100%);
  padding: 1%;
  margin: 0px;
  margin-bottom: 15px;
}

ul{
  margin:0px;
}

nav li {
  list-style-type: none;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
     color: black;
     text-decoration: none;
     cursor:pointer;
}

/******************* OPTIONS *******************/

form {
  border: 6px dotted yellow;
  width: 28%;
  height: 200px;
  float:left;
  font-size: 24px;
  text-align: center;
  padding: 30px;
  padding-bottom: 0px;
  margin: 2%
}

h3, .right {
  font-size: 24px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  height: auto;
}

#label {
  margin-top: 0;
  padding-top: 0;
}
#resetBalance {
  clear: both;
}
#emojiSet {
  float: right;
}

#difficultyLevel, #emojiSet {
  border: none;
  font-family: 'Roboto Mono', monospace;
  height: auto;
}

select#difficultySelection {
  font-family: 'Roboto Mono', monospace;
  margin-top: 5%;
}

input {
  color: black;
  margin: 5%;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  padding-left: 5px;
}

select {
  font-size: 20px;
  color: black;
  font-family: 'Roboto Mono', monospace;
}

option {
  font-size: 20px;
  color: black;
  font-family: 'Roboto Mono', monospace;
  text-transform: capitalize;
}

input[type=text]:focus {
    border-color:#333;
}

.centerNewUserDefault {
  margin-left: 36%;
  margin-right: 36%;
}

#optionMain label {
  display: block;
}

#addNewUser {
  margin: 5%;
}

.leftNewUser {
  float: left;
  margin-left: 11%
}

#showPastUsers {
  margin: 5%;
}

#pastUsers{
  float: right;
  margin-right: 11%
}

/*modified from stackflow*/
#optionMain button {
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  background: radial-gradient(ellipse at center, rgba(0,23,232,1) 0%,rgba(14,0,107,1) 100%);
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  border-radius:10px;
  border:none;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  padding: 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}

#optionMain button:hover {
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

#optionMain button:active {
	position:relative;
	top:1px;
}

.right {
  border: 6px dotted yellow;
  text-align: center;
  padding: 2%;
  margin-left: 11%;
  margin-right: 11%;
  margin-bottom: 2%;
  height: auto;
}

#instructions {
  border: 6px dotted yellow;
  margin-left: 11%;
  margin-right: 11%;
  margin-bottom: 3%;
  padding: 5%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

#instructions h3 {
  font-size: 24px;
  margin-top: 1%;
  margin-right: 10%;
  text-align: center;
}

#instructions li {
  /*list-style-type: none;*/
  text-align: left;
  padding: 5px;

}

#resetBalanceButton {
    margin: 2% 0%;
}

#selectUser {
  font-family: 'Roboto Mono', monospace;
}

section p {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 1%;
  margin: 0px;
}

/******************* GAME STYLES *******************/
p {
  font-family: 'Slackey', cursive;
  font-size: 38px;
}

#welcomeMessage {
  text-align: left;
  float: left;
  margin-left: 15%;
}

#balanceMessage {
  float: right;
  text-align: right;
  margin-right: 15%;
}

#game {
  clear: both;
}

#game div {
  text-align: center;
  border: 6px dotted yellow;
  overflow: hidden;
}

 #playButton{
  background: url('../img/handleUp.png') no-repeat;
  height:408px;
  width:121px;
  border-style: none;
  outline: none;
}

#playButton:active {
  background: url('../img/handleDown.png');
}

#response {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  margin-top: -180px;
}

.jackpotBigBG {
  background: url('../img/jackpotbg-noborder.png');
  background-size: 100%;
}

.pairBigBG {
  background: url('../img/pairbg.png');
  background-size: 100%;
}

.jackpotBackground {
  background: url('../img/starsrain.gif');
  background-size: contain;
}

.jackpotZoom {
  background-size: 100%;
  transform: scale(2);
  filter: FlipH;
}

.pairBackground {
  background: url('../img/moneyrain.gif');
  background-size: contain;
}

.pairZoom {
  transform: scale(2);
  background-size: 100%;
}

@keyframes spinning0 {
    0%   {
      content:url('../img/dancer.png');
      top: -209px;
      filter: blur(10px)
    }
    25%  {
      content:url('../img/cat.png');
      top: -71px;
      filter: blur(7px)
    }
    50%  {
      content:url('../img/alien.png');
      top: 0px;
      filter: blur(7px)
    }
    75%  {
      content:url('../img/dog.png');
      top: 71px;
      filter: blur(7px)
    }
    100% {
      content:url('../img/unicorn.png');
      top: 209px;
      filter: blur(7px)
    }
}

@keyframes spinning1 {
    0%   {
      content:url('../img/cat.png');
      top: -209px;
      filter: blur(10px)
    }
    25%  {
      content:url('../img/dancer.png');
      top: -71px;
      filter: blur(7px)
    }
    50%  {
      content:url('../img/dog.png');
      top: 0px;
      filter: blur(7px)
    }
    75%  {
      content:url('../img/alien.png');
      top: 71px;
      filter: blur(7px)
    }
    100% {
      content:url('../img/unicorn.png');
      top: 209px;
      filter: blur(7px)
    }
}

@keyframes spinning2 {
    0%   {
      content:url('../img/unicorn.png');
      top: -209px;
      filter: blur(10px)
    }
    25%  {
      content:url('../img/dog.png');
      top: -71px;
      filter: blur(7px)
    }
    50%  {
      content:url('../img/alien.png');
      top: 0px;
      filter: blur(7px)
    }
    75%  {
      content:url('../img/cat.png');
      top: 71px;
      filter: blur(7px)
    }
    100% {
      content:url('../img/dancer.png');
      top: 209px;
      filter: blur(7px)
    }
}

@keyframes blinking0 {
    0%   {background-color: red}
    25%   {background-color: yellow}
    50%  {background-color: blue}
    100% {background-color: red}
}

@keyframes blinking1 {
    0%   {background-color: blue}
    25%   {background-color: red}
    50%  {background-color: yellow}
    100% {background-color: blue}
}

@keyframes blinking2 {
    25%   {background-color: yellow}
    50%  {background-color: blue}
    0%   {background-color: red}
    100% {background-color: yellow}
}

#game .blinking0 {
  animation-name: blinking0;
  animation-iteration-count: 4;
  animation-duration: .25s;
}

#game .blinking1 {
  animation-name: blinking1;
  animation-iteration-count: 4;
  animation-duration: .35s;
}

#game .blinking2 {
  animation-name: blinking2;
  animation-iteration-count: 4;
  animation-duration: .45s;
}

#game .col-1andHalf {
  border: 2px solid transparent;
}

#game div img {
  margin: 60px 0px;
  padding: 10px;
  position: relative;
}

#game .animation0 {
  animation-name: spinning0;
  animation-iteration-count: 10;
  animation-duration: .1s;
  animation-timing-function: linear;
  }

#game .animation1 {
  animation-name: spinning1;
  animation-iteration-count: 15;
  animation-duration: .1s;
  animation-timing-function: linear;
  }

#game .animation2 {
  animation-name: spinning2;
  animation-iteration-count: 20;
  animation-duration: .1s;
  animation-timing-function: linear;
  }

/******************* STATS *******************/
main {
  min-width: 975px;
}

canvas {
  min-width:200px;
  min-height: 200px;
  width: content-box;
  float: left;
}

.userChart {
  padding: 20px;
  border: 6px dotted yellow;
  margin: 1% 3.5%;
  display: inline;
}

.userDiv {
  padding: 0 50px;
}

#chart h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
}

/******************* GRID STYLES *******************/

.row,
.column {
  box-sizing: border-box;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear:both;
}

.column {
  position: relative;
  float: left;
}
/*one column is 8.33% wide*/
.col-1 {
  width: 8.33%;
}

.col-1andHalf {
  width: 12.495%
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.98%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.3%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
