/******************* GENERAL STYLES *******************/

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  /*width: 1200px;*/
}

* {
  color: white;
}

main {
  margin: 0% 5%;
}

.userChart {
  padding: 0 10%;
}

.userDiv {
  padding: 0 50px;
}
#title {
  background-image: url('../img/vegas-sign.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 200px;
}

#title h1 {
  color: blue;
  text-align: center;
  height: 200px;
  font-family: 'Slackey', cursive;
  font-size: 44px;
}
/******************* NAVIGATION *******************/

nav {
  text-align: center;
  list-style: none;
  background-color: red;
  padding: 1%;
  margin: 0px;
}

ul{
  margin:0px;
}

nav li {
  list-style-type: none;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
     color: black;
     text-decoration: none;
     cursor:pointer;
}

/******************* WELCOME MESSAGE *******************/
article p {
  font-size: 50px;
  font-family: 'Gloria Hallelujah', cursive;
  border: 0;
  padding: 0;
}


/******************* OPTION *******************/
form input {
  color: black;
}

form {
  border: 2px dashed white;
  width: 200px;
  height: 200px;
  float:left;
  font-size: 24px;
  text-align: center;
}
button {
  color: black;
}

/******************* GAME STYLES *******************/

#welcomeMessage {
  text-align: center;
  margin: 2% 0%;
}

#game div {
  text-align: center;
  border: 10px dotted yellow;
  overflow: hidden;
}

@keyframes spinning {
    0%   {
      content:url('../img/dancer.png');
      top: -209px;
      filter: blur(10px)
    }
    25%  {
      content:url('../img/cat.png');
      top: -71px;
      filter: blur(7px)
    }
    50%  {
      content:url('../img/alien.png');
      top: 0px;
      filter: blur(7px)

    }
    75%  {
      content:url('../img/dog.png');
      top: 71px;
      filter: blur(7px)
    }

    100% {
      content:url('../img/unicorn.png');
      top: 209px;
      filter: blur(7px)
    }
}

@keyframes blinking {
    0%   {background-color: red}
    25%   {background-color: yellow}
    50%  {background-color: blue}
    100% {background-color: black}
}

#game .blinking {
  animation-name: blinking;
  animation-iteration-count: 4;
  animation-duration: .4s;
}

#game .col-1andHalf {
  border: 1px solid black;
}

#game div img {
  margin: 60px 0px;
  padding: 10px;
  position: relative;
}

#game .animation {
  animation-name: spinning;
  animation-iteration-count: 16;
  animation-duration: .1s;
  animation-timing-function: linear;
  }

/******************* STATS *******************/
canvas {
  min-width:200px;
  min-height: 200px;
  width: content-box;
  float: left;
}

.useChart  {
  display: inline;
}

/******************* OPTIONS STYLES *******************/


/******************* GRID STYLES *******************/

.row,
.column {
  box-sizing: border-box;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear:both;
}

.column {
  position: relative;
  float: left;
}
/*one column is 8.33% wide*/

.col-1 {
  width: 8.33%;
}

.col-1andHalf {
  width: 12.495%
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.98%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.3%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
